body {
    font: 12px sans-serif;
    text-align: center;
    margin: 1rem;
}

table {
    color: #616161;
}

tr:nth-child(odd) {
    background-color: #eee;
}

td {
    padding: .75rem;
    font-size: .80rem;
}

td:hover, td:focus {
    color: #000;
    cursor: pointer;
}